@media (min-width: 576px) {
  .product-title {
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

@media (min-width: 1201px) {
  .product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    text-align: left;
  }
}

@media (min-width: 576px) {
    .product-des {
      font-size: 22px;
      font-weight: 600;
      /* text-transform: uppercase; */
      margin-bottom: 0.5rem;
      text-align: center;
    }
  }
  
  @media (min-width: 1201px) {
    .product-des {
      font-size: 16px;
      font-weight: 600;
      /* text-transform: uppercase; */
      margin-bottom: 0.5rem;
      text-align: left;
    }
  }

  @media (min-width: 576px) {
    .price {
      font-weight: 600;
      font-size: 35px;
    }
  }
  
  @media (min-width: 1201px) {
    .price {
      font-weight: 600;
      font-size: 20px;
    }
  }

  @media (min-width: 576px) {
    .sales-page, h3 {
      font-weight: 600;
      font-size: 26px;
    }
  }
  
  @media (min-width: 1201px) {
    .sales-page, h3 {
      font-weight: 600;
      font-size: 18px;
    }
  }

  @media (min-width: 576px) {
    #copyright, h4 {
    font-size: 16px;
    }
  }
  
  @media (min-width: 1201px) {
    #copyright, h4 {
      font-size: 20px;
    }
  }