@media (min-width: 576px) {
    .bar-stools-des {
      font-size: 22px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      text-align: center;
    }
  }
  
  @media (min-width: 1201px) {
    .bar-stools-des {
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      text-align: left;
    }
  }